.darkmodebtn button{
    padding: 15px 15px 15px 15px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 20px;
    background-color: rgb(255, 255, 255, 0.700);
    color: rgb(0, 0, 0);
    transition: 200ms;
    font-weight: bold;
}

.darkmodebtn button:hover{
    background-color: rgba(0, 0, 0, 0.54);
    color: rgba(255, 255, 255, 0.5);
    transition: 200ms;
}
/* 
body {
    transition: background-color 0.5s;
  } */
